%reset {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.slider {
  @extend %reset;
  position: relative;

  border: 1px solid;

  &__slide-container {
    display: flex;
    overflow: hidden;

    .slider__slide {
      @extend %reset;

      border: 1px solid red;

      width: 50%;
      flex-shrink: 0;
      transform: translateX(0%);
      transition: 1s ease;
    }
  }

  &__dots {
    display: flex;
    // justify-content: space-between;
    gap: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid green;

    .slider__dot {
      flex-shrink: 0;
      width: 10px;
      height: 10px;
      border-radius: 10px;
      background-color: #9e8585;
      cursor: pointer;
      transition: 1s ease;

      &--active {
        background-color: #000;
        width: 30px;
      }
    }
  }
}
