%reset {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

%reset-button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  display: inline;
}

.slider {
  @extend %reset;
  position: relative;

  border: 1px solid;

  &--fade-animation {
    animation-name: fade;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  &__slide-container {
    display: flex;
    overflow: hidden;

    .slider__slide {
      @extend %reset;

      border: 1px solid red;

      // width: 100%;
      flex-shrink: 0;
      transform: translateX(0%);
      transition: 1s ease;
    }
  }

  &__dots {
    display: flex;
    gap: 5px;
    position: absolute;
    transform: translate(-50%, 100%);
    border: 2px solid green;

    .slider__dot {
      @extend %reset-button;

      flex-shrink: 0;
      width: 10px;
      height: 10px;
      border-radius: 10px;
      background-color: #9e8585;
      cursor: pointer;
      transition: 1s ease;

      &--active {
        background-color: #000;
        width: 30px;
      }
    }
  }

  &__buttons {
    @extend %reset;
    border: 2px solid rgb(0, 128, 38);

    position: absolute;
    display: flex;

    top: 100%;
    &--bottom-left {
      left: 0;
    }
    &--bottom-right {
      right: 0;
    }

    &--middle-center {
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    &--space-between {
      width: 100%;
      justify-content: space-between;
    }

    &--rounded {
      .slider__button {
        border-radius: 50%;
      }
    }

    .slider__button {
      @extend %reset-button;
      width: 25px;
      height: 25px;
      border: 2px solid;
      display: grid;
      place-items: center;
      cursor: pointer;
    }
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
